@charset "utf-8";

//
// Primary colors
//

$primary: rgb(110, 161, 173);

//
// Main app colors
//

$text: $primary;
$body-background-color: white; // lighten($primary, 30%);

$link: $primary;
$link-hover: $link;

//
// Misc. variables
//

$radius-large: 5px;

$block-spacing: .4em;
$tile-spacing: 0.2em;
$column-gap: 0.2em;

//
// Component colors
//

// Field
$label-color: $primary;

$table-cell-border: 1px solid lighten($primary, 30%);

$box-background-color: $body-background-color;
$table-background-color: $body-background-color;
$table-color: $primary;
$table-head-background-color: $body-background-color;
$table-head-cell-color: $primary;

$input-color: $primary;
$input-border-color: $primary;
$input-focus-border-color: darker($primary, 30%);

$button-border-color: $primary;
$button-color: $primary;

$slider-tick-width: 3px;
$slider-thumb-background: $primary;
$slider-thumb-border: 2px solid white;
$slider-tick-background: $primary;
$slider-track-border:	0px;

$card-content-padding: 3px;

$dropdown-content-padding-top: 0px;
$dropdown-content-padding-bottom: 0px;

//
// Color Maps
//

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/derived-variables";

// Led colors

$ledColors: (
  "off": ($text, findColorInvert($text)),
  "red": (red, findColorInvert(red)),
  "green": (green, findColorInvert(green)),
  "blue": (blue, findColorInvert(blue)),
  "yellow": (yellow, findColorInvert(yellow)),
  "cyan": (cyan, findColorInvert(cyan)),
  "pink": (pink, findColorInvert(pink)),
  "white":(white, findColorInvert(white))
);

$colors: map-merge($colors, $ledColors);

// Misc. color
$colors: map-merge($colors, (
  'text': ($text, findColorInvert($text))
));
