@import "variables";

@import "~bulma";
@import "~buefy/src/scss/buefy";

.a-register {
  text-decoration: underline dotted;
  text-underline-position: under;
}

canvas {
  width: 100% !important;
}

.vcenter {
  align-items: center;
  display: flex;
}

.b-table {
  .table {
    td {
      vertical-align: middle;
    }
  }
}