@import "variables";

@import "~bulma";
@import "~buefy/src/scss/buefy";

.view {
  margin: .5em 0.2em;
}

canvas {
  width: 100% !important;
}

.vcenter {
  align-items: center;
  display: flex;
  // justify-content: center;
}